streamlit>=1.35.0

numpy>=1.26
pandas>=2.2
matplotlib>=3.8

scikit-learn>=1.5
imbalanced-learn>=0.12
category-encoders>=2.6
joblib>=1.4

tensorflow>=2.16
torch>=2.3

nltk>=3.9
spacy>=3.7
textblob>=0.18
gensim>=4.3

statsmodels>=0.14
prophet>=1.1
umap-learn>=0.5